In [22]:
import pandas as pd

fish = pd.read_csv('https://bit.ly/fish_csv_data')

In [23]:
fish

    Species  Weight  Length  Diagonal   Height   Width
0     Bream   242.0    25.4      30.0  11.5200  4.0200
1     Bream   290.0    26.3      31.2  12.4800  4.3056
2     Bream   340.0    26.5      31.1  12.3778  4.6961
3     Bream   363.0    29.0      33.5  12.7300  4.4555
4     Bream   430.0    29.0      34.0  12.4440  5.1340
..      ...     ...     ...       ...      ...     ...
154   Smelt    12.2    12.2      13.4   2.0904  1.3936
155   Smelt    13.4    12.4      13.5   2.4300  1.2690
156   Smelt    12.2    13.0      13.8   2.2770  1.2558
157   Smelt    19.7    14.3      15.2   2.8728  2.0672
158   Smelt    19.9    15.0      16.2   2.9322  1.8792

[159 rows x 6 columns]

In [24]:
print(pd.unique(fish['Species']))

['Bream' 'Roach' 'Whitefish' 'Parkki' 'Perch' 'Pike' 'Smelt']

In [52]:
X_data = fish.iloc[:, 1:]
y_data = fish.iloc[:, [0]]

In [53]:
X_data

     Weight  Length  Diagonal   Height   Width
0     242.0    25.4      30.0  11.5200  4.0200
1     290.0    26.3      31.2  12.4800  4.3056
2     340.0    26.5      31.1  12.3778  4.6961
3     363.0    29.0      33.5  12.7300  4.4555
4     430.0    29.0      34.0  12.4440  5.1340
..      ...     ...       ...      ...     ...
154    12.2    12.2      13.4   2.0904  1.3936
155    13.4    12.4      13.5   2.4300  1.2690
156    12.2    13.0      13.8   2.2770  1.2558
157    19.7    14.3      15.2   2.8728  2.0672
158    19.9    15.0      16.2   2.9322  1.8792

[159 rows x 5 columns]

In [54]:
y_data

    Species
0     Bream
1     Bream
2     Bream
3     Bream
4     Bream
..      ...
154   Smelt
155   Smelt
156   Smelt
157   Smelt
158   Smelt

[159 rows x 1 columns]

In [58]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [59]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X_data, y_data, random_state=42)

In [60]:
#SVC, DT, RT, LR

In [61]:
from sklearn.svm import LinearSVC

clf_svm = SVC(random_state=0)
clf_svm.fit(X_train, y_train)

pred_svm = clf_svm.predict(X_test)

print("\n--- SVM Classifier ---")
print(accuracy_score(y_test, pred_svm))
print(confusion_matrix(y_test, pred_svm))

--- SVM Classifier ---
0.475
[[ 8  0  3  0  0  0  0]
 [ 0  0  2  0  0  0  0]
 [ 1  0 11  0  0  0  0]
 [ 2  0  2  0  0  0  0]
 [ 0  0  3  0  0  0  0]
 [ 0  0  5  0  0  0  0]
 [ 0  0  3  0  0  0  0]]

C:\Users\82109\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [62]:
from sklearn.tree import DecisionTreeClassifier

clf_dt = DecisionTreeClassifier(random_state=0)
clf_dt.fit(X_train, y_train)

pred_dt = clf_dt.predict(X_test)

print ("\n--- Decision Tree Classifier ---")
print (accuracy_score(y_test, pred_dt))
print (confusion_matrix(y_test, pred_dt))

--- Decision Tree Classifier ---
0.75
[[11  0  0  0  0  0  0]
 [ 0  2  0  0  0  0  0]
 [ 0  0  5  0  7  0  0]
 [ 0  0  0  4  0  0  0]
 [ 0  0  1  0  2  0  0]
 [ 0  0  0  0  0  5  0]
 [ 0  0  0  0  2  0  1]]

In [63]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings('ignore')

print ("\n--- Radom Forest ---")
rf_clf = RandomForestClassifier(random_state=0)
rf_clf.fit(X_train, y_train)
pred = rf_clf.predict(X_test)
print(accuracy_score(y_test,pred))
print (confusion_matrix(y_test, pred))

--- Radom Forest ---
0.75
[[11  0  0  0  0  0  0]
 [ 0  2  0  0  0  0  0]
 [ 0  0  7  0  5  0  0]
 [ 0  0  0  4  0  0  0]
 [ 0  0  2  0  1  0  0]
 [ 0  0  0  0  0  5  0]
 [ 0  0  2  0  1  0  0]]

In [64]:
from sklearn.linear_model import LogisticRegression

clf_lr = LogisticRegression(random_state=0)
clf_lr.fit(X_train, y_train)

pred_lr = clf_lr.predict(X_test)

print ("\n--- Logistic Regression Classifier ---")
print (accuracy_score(y_test, pred_lr))
print (confusion_matrix(y_test, pred_lr))

--- Logistic Regression Classifier ---
0.75
[[11  0  0  0  0  0  0]
 [ 2  0  0  0  0  0  0]
 [ 0  0  8  0  4  0  0]
 [ 0  0  0  4  0  0  0]
 [ 0  0  1  0  2  0  0]
 [ 0  0  0  0  0  5  0]
 [ 0  0  3  0  0  0  0]]